{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Login Page</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                Login - {{ parent() }}
                            </div>
                        </div>
                    {% endblock %}

                    {% if error %}
                        <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="post">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password"/>
                        {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                        #}
                        <button type="submit">login</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}