.hiperespacio {
    margin-left: 40%;
}
.errorFormulario {
    color: red;
}

.breadcrumb {
    margin-top: -7%;
}

.index {
    margin-top: -7%;
}

.botonAdd {
    margin-bottom: 2%;
}

.venta {
    margin-bottom: 8%;
}

.titulo-generico {
    color: #DF3A01;
    margin-bottom: 4%;
}

.color-texto {
    color: #DF3A01;
    font-weight: bold;
}

.espacio {
    margin: 5%;
}

.espacio-interior {
    margin-bottom: 7%;
    padding-bottom: 7%;
}

.espacio-pequeño {
    margin-bottom: 3%;
}
.espacio-alto {
    margin-top: 2%;
}

.comentario {
    width: 400px;
}

.posicion-idioma {
    position: absolute;
    right: 10%;
    top: 0.5%;
}
