<form method="post" action="{{ path('inscripciones_delete', {'id': inscripcione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscripcione.id) }}">
    <button class="btn">Delete</button>
</form>
