{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="text-danger mb-3">
    {{ form_errors(form.email, {'attr': {'class': 'text-danger mb-3'}}) }}
</div>
{{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
