{% extends 'base.html.twig' %}

{% block title %}Edit Inscripciones{% endblock %}

{% block body %}
<div class="container">
    <h1>Post Details</h1>
    <section class="blog-page">
        <div class="row">
            {% block ruta %}
                <div class="jumbotron">
                    <div class="text-danger">
                        Show post - {{ parent() }}
                    </div>
                </div>
            {% endblock %}
            <div class="col-sm-8">

    {{ include('inscripciones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('inscripciones_index') }}">back to list</a>

    {{ include('inscripciones/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
