{% extends 'base.html.twig' %}

{% block title %}Inscripciones index{% endblock %}

{% block body %}
    <h1>Inscripciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Fecha</th>
                <th>actions</th>
                <th>Evento</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcione in inscripciones %}
            <tr>
                <td>{{ inscripcione.id }}</td>
                <td>{{ inscripcione.email }}</td>
                <td>{{ inscripcione.username }}</td>
                <td>{{ inscripcione.fecha ? inscripcione.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a role="button" class="btn btn-danger espacio-pequeño" href="{{ path('inscripciones_show', {'id': inscripcione.id}) }}">show</a>
                    <a role="button" class="btn btn-primary espacio-pequeño" href="{{ path('inscripciones_edit', {'id': inscripcione.id}) }}">edit</a>
                    {{ include('inscripciones/_delete_form.html.twig') }}
                </td>
                <td>{{ inscripcione.post.titulo }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
