{% extends 'base.html.twig' %}

{% block title %}New Inscripciones{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscripcion Evento</h1>
        <section class="blog-page">
            <div class="row">
                {% block ruta %}
                    <div class="jumbotron">
                        <div class="text-danger">
                            Show post - {{ parent() }}
                        </div>
                    </div>
                {% endblock %}
                <div class="col-sm-8">
                    {{ include('inscripciones/_form.html.twig') }}
                </div>
            </div>
            <a role="button" style="margin-top: 10px;" class="btn btn-danger espacio-pequeño" href="{{ path('inscripciones_index') }}">back to list</a>
        </section>
    </div>
{% endblock %}
