{% extends 'base.html.twig' %}

{% block title %}Inscripciones{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscripcion Show</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                New User - {{ parent() }}
                            </div>
                        </div>
                    {% endblock %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ inscripcione.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ inscripcione.email }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ inscripcione.username }}</td>
                        </tr>
                        <tr>
                            <th>Evento</th>
                            <td>{{ inscripcione.post.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ inscripcione.fecha ? inscripcione.fecha|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a role="button" style="color: white" class="btn btn-warning text-white" href="{{ path('inscripciones_index') }}">back to list</a>

                    <a role="button" style="color: white" class="btn btn-primary text-white" href="{{ path('inscripciones_edit', {'id': inscripcione.id}) }}">edit</a>

                    {{ include('inscripciones/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
