{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Message</h1>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% block ruta %}
                <div class="jumbotron">
                    <div class="text-danger">
                        Edit Message - {{ parent() }}
                    </div>
                </div>
                {%  endblock %}
                {{ include('message/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('message_index') }}">back to list</a>

                {{ include('message/_delete_form.html.twig') }}

            </div>
        </div>
    </section>
</div>
{% endblock %}
