{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <div class="container">
        <h1>List of Messages</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                List Messages - {{ parent() }}
                            </div>
                        </div>
                    {% endblock %}

                    <div class="col-sm-8">
                        <h2>Messages</h2>
                        <h3>Received</h3>
                        <div id="comentarios">
                            {% for recivido in recividos %}
                    <div class="comment-post">
                        <div><img src="/images/gallery/{{ asset(recivido.remitente.avatar) }}"
                                  class="comment-img"></div>
                        <div class="comment-text" id="<?= $recivido->getID() ?>">
                            <h4>DE: {{ recivido.remitente.username }}</h4>
                            <h6>{{ recivido.fecha | date('Y-m-d') }}</h6>
                            <h5>{{ recivido.mensaje }}</h5>
                            <div id="replyComment" class="comment-text comentario">
                            </div>
                        </div>
                    </div>
                        <a role="button" class="btn btn-danger" href="{{ path('message_show', {'id': recivido.id}) }}">Show</a>
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            <a role="button" style="color: white" class="btn btn-warning text-white" href="{{ path('message_edit', {'id': recivido.id}) }}">Edit</a>
                        {% endif%}
                    {% endfor %}
                    <h3>Delivered</h3>
                    {% for enviado in enviados %}
                    <div class="comment-post-right">
                        <div>
                            <img src="/images/gallery/{{ asset(enviado.destinatario.avatar) }}"
                                 class="comment-img"></div>
                        <div class="comment-text">
                            <h4>PARA: {{ enviado.destinatario.username }}</h4>
                            <h6>{{ enviado.fecha | date('Y-m-d') }}</h6>
                            <h5>{{ enviado.mensaje }}</h5>
                            <div id="replyComment" class="comment-text comentario">
                            </div>
                        </div>
                    </div>
                        <a role="button" class="btn btn-danger" href="{{ path('message_show', {'id': enviado.id}) }}">Show</a>
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            <a role="button" style="color: white" class="btn btn-warning text-white" href="{{ path('message_edit', {'id': enviado.id}) }}">edit</a>
                        {% endif%}
                   {% endfor %}

                </div>
            </div>
        </section>
    </div>
{% endblock %}
