{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
<div class="container">
    <h1>Show Message</h1>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% block ruta %}
                <div class="jumbotron">
                    <div class="text-danger">
                        Show Message - {{ parent() }}
                    </div>
                </div>
                {% endblock %}

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ message.id }}</td>
                    </tr>
                    <tr>
                        <th>Mensaje</th>
                        <td>{{ message.mensaje }}</td>
                    </tr>
                    <tr>
                        <th>De</th>
                        <td>{{ message.remitente.username }}</td>
                    </tr>
                    <tr>
                        <th>Para</th>
                        <td>{{ message.destinatario.username }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ message.fecha ? message.fecha|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if app.user.role == 'ROLE_ADMIN' %}
                    <a role="button" style="color: white; margin-bottom: 1%;" class="btn btn-primary text-white"
                       href="{{ path('message_edit', {'id': message.id}) }}">Edit</a>
                {% endif %}

                {{ include('message/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
