<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Asociation - ACME{% endblock %}</title>
    {% block stylesheets %}

        <link rel="icon" href="images/favicon.png" type="image/x-icon">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
              type='text/css'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"
              type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/easy-responsive-tabs.css "/>
        <link rel="stylesheet" type="text/css" href="/css/flexslider.css "/>
        <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/generic.css"/>
        <!--[if lt IE 8]><!-->
        <link rel="stylesheet" href="/css/ie7/ie7.css">
        <!--<![endif]-->
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <nav class="navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.php">
                        {#Asociation<span style="width: 60px"> ACME</span>#}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <img style="height: 120px;margin-top: -20px;margin-left: -200px;" src="/images/logo.png">
                        {% else %}
                            <img style="height: 120px;margin-top: -20px;" src="/images/logo.png">
                        {% endif %}
                    </a>
                </div>
                <span>ASOCIACION POR LA CULTURA MODERNA DE ELDA</span>
                <div class="collapse navbar-collapse navbar-main-collapse ">
                    <ul class="nav navbar-nav navbar-right">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('login') }}" class="btn-default">Login</a>
                            </li>
                            <li>
                                <a href="{{ path('user_new') }}" class="btn-default">Register</a>
                            </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('logout') }}" class="btn-default">Logout - {{ app.user.username }}</a>
                            </li>
                            <li>
                                <a href="{{ path('filter_absolute', {'id': app.user.id}) }}">My Elements</a>
                            </li>
                            <li>
                                <a href="{{ path('post_new') }}">Create Post</a>
                            </li>
                            <li>
                                <a href="{{ path('user_show', {'id': app.user.id}) }}" class="buttonProfile">My
                                    Profile</a>
                            </li>
                            <li>
                                <a href="{{ path('message_index') }}">My Messages</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('index') }}">Home</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('user_index') }}">Users List</a>
                            </li>
                            <li>
                                <a href="{{ path('post_index') }}">Posts List</a>
                            </li>
                            <li>
                                <a href="{{ path('inscripciones_index') }}">Inscripciones List</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
<div class="clear"></div>
<div class="page-content espacio-interior">
    {% block body %}{% block ruta %}Index{% endblock %}{% endblock %}
</div>
{% block javascripts %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <h2>Asociation<span> ACME</span></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>E104 Dharti -2 , Nr Silverstar Mall Chandlodia - Ahmedabad
                                <br/>Zip - 382481</p>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +91 123 456 7890</a></li>
                                <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn-default">Contact Us</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Copyright &copy; 2018 distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{{ asset('/js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('/js/easyResponsiveTabs.js') }}"></script>
    <script src="{{ asset('/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('/js/custom.js') }}"></script>
    <script src="{{ asset('/js/delete.js') }}"></script>
{% endblock %}
</body>
</html>
