{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <div id="page-content">
        <section class="flexslider index">
        </section>
        <div class="container">
            <div class="row">
                <section class="col-sm-7 col-md-8 col-lg-8">
                    <div class="intro">
                        <h2>Welcome to the ACME ASOCIATION</h2>
                        <p>If you love the modern culture of the world and the games, join us.</p>
                        <ul class="row">
                            <li class="col-sm-4">
                                <i class="fas fa-gamepad"></i>
                                <h3>Games and more</h3>
                                <p>Join to the glory of the gamer.</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="far fa-comment-dots"></i>
                                <h3>Any questions? FAQs</h3>
                                <p>Visit page with own frequent ask and questions.</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="far fa-paper-plane"></i>
                                <h3>Contact if you prefer</h3>
                                <p>Contact is ever the best option.</p>
                            </li>
                        </ul>
                        <h1 class="venta">Join to the Asocition ACME now!!</h1>
                        <p id="venta">Win a lot of prizes or participate in days of video games, board games, role
                            playing
                            and much more.
                            If you are one of those who love good vibes, video game afternoons, anime or you are
                            interested
                            in television series, this is your place.</p>
                    </div>
                </section>

                <section class="blog-page">
                    <div class="container">
                        <nav class="navbar navbar-light bg-light">
                            <div class="col-sm-8">
                                <form class="form-group"
                                      action="{{ path('filter_inicio') }}"
                                      method="POST"
                                      enctype="multipart/form-data">
                                    <h3>Aply filters for better results: </h3>
                                    <p>Set both dates to search between...</p>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label for="fecha1">Find Later Dates: </label>
                                            <input class="form-control mr-sm-1" type="date" aria-label="Search"
                                                   name="fecha1">
                                        </div>
                                        <div class="col-sm-5">
                                            <label for="fecha2">Find Previous Dates: </label>
                                            <input class="form-control mr-sm-1" type="date" aria-label="Search"
                                                   name="fecha2">
                                        </div>
                                    </div>
                                    <label for="tipo">Type of Event:</label>
                                    <select name="tipo" class="mr-sm-3">
                                        <option value=''>CHOOSE AND OPTION</option>
                                        <option value='EVENTO_GENERICO'>GENERIC EVENT</option>
                                        <option value="EVENTO COSPLAY">COSPLAY EVENT</option>
                                        <option value='EVENTO_PELICULA'>FILM EVENT</option>
                                        <option value='EVENTO_REUNION'>EVENT STAY OFF</option>
                                        <option value='EVENTO_COMIDA'>EVENT FOOD WAR</option>
                                    </select>
                                    <div class="form-group">
                                        <label for="content">Content on the title: </label>
                                        <input class="form-control mr-sm-1" type="text" aria-label="Search"
                                               name="texto">
                                    </div>
                                    <a class="btn btn-secondary" href="{{ path('post_index') }}" role="button"
                                       id="DropFilter">Drop Filter</a>
                                    <button class="btn btn-danger" type="submit">Apply Filter</button>
                                </form>
                                {% if error %}
                                    <div class="row">
                                        <div class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </section>

                <div class="row">
                    <div class="col-sm-8">
                        <h4>There are {{ posts|length }} results found!!</h4>
                        {% if posts|length == 0 %}
                            <div class='single-post'><h4>Elements not found</h4>
                                <img src='/images/gallery/NotFound.jpg'></div>
                        {% endif %}

                        {% for post in posts %}
                            {% if post.visible == true %}
                                <div class="single-post">
                                    <div class="blog-img">
                                        <a href="{{ path('post_show', {'id': post.id}) }}">
                                            <img src="{{ asset(post.urlImagen) }}" class="img-responsive">
                                        </a>
                                    </div>
                                    <h2 class="blog-title">{{ post.titulo }}</h2></a>
                                    <a href="" class="ml-0"><i
                                                class="blue-text fa fa-calendar"></i> {{ post.fecha | date('Y-m-d') }}
                                    </a>
                                    <a href=""><i class="blue-text fa fa-user"></i>
                                        By {{ post.user.username }} </a>
                                    <a href=""><i class="blue-text fa fa-comment"></i> {{ post.commentcant }}
                                    </a>
                                    <a class="hiperespacio" href="{{ path('user_show', {'id': post.user.id}) }}">
                                        <img style="height:50px;" src="/images/gallery/{{ asset(post.user.avatar) }}">{{ post.user.username }}
                                    </a>
                                    <p>{{ post.texto | raw }}</p>
                                    <div class="blog-btn espacio-pequeño">
                                        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn-default espacio-pequeño">Read
                                            More</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
