    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.titulo, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.titulo) }}
    {{ form_widget(form.titulo, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.texto, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.texto) }}
    {{ form_widget(form.texto, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.imagen, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.texto) }}
    {{ form_widget(form.imagen, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.tipo, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.tipo) }}
    {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.aforo, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.aforo) }}
    {{ form_widget(form.aforo, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger mb-3">
        {{ form_errors(form.fecha, {'attr': {'class': 'text-danger mb-3'}}) }}
    </div>
    {{ form_label(form.fecha) }}
    {{ form_widget(form.fecha, {'attr': {'class': ''}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


