{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit the Post</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                Show post - {{ parent() }}
                            </div>
                        </div>
                    {% endblock %}
                    <div class="col-sm-8">

                        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('post_index') }}">back to list</a>

                        {{ include('post/_delete_form.html.twig') }}

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
