{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <section class="blog-page">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <div class="col-sm-8">
                    <form class="form-group"
                          action="{{ path('post_filter') }}"
                          method="POST"
                          enctype="multipart/form-data">
                        <h3>Aply filters for better results: </h3>
                        <p>Set both dates to search between...</p>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="fecha1">Find Later Dates: </label>
                                <input class="form-control mr-sm-1" type="date" aria-label="Search" name="fecha1">
                            </div>
                            <div class="col-sm-5">
                                <label for="fecha2">Find Previous Dates: </label>
                                <input class="form-control mr-sm-1" type="date" aria-label="Search" name="fecha2">
                            </div>
                        </div>
                        <label for="tipo">Type of Event:</label>
                        <select name="tipo" class="mr-sm-3">
                            <option value='EVENTO_GENERICO'>GENERIC EVENT</option>
                            <option value="EVENTO COSPLAY">COSPLAY EVENT</option>
                            <option value='EVENTO_PELICULA'>FILM EVENT</option>
                            <option value='EVENTO_REUNION'>EVENT STAY OFF</option>
                            <option value='EVENTO_COMIDA'>EVENT FOOD WAR</option>
                        </select>
                        <div class="form-group">
                            <label for="content">Content on the title: </label>
                            <input class="form-control mr-sm-1" type="text" aria-label="Search" name="texto">
                        </div>
                        <a class="btn btn-secondary" href="{{ path('post_index') }}" role="button" id="DropFilter">Drop Filter</a>
                        <button class="btn btn-danger" type="submit">Apply Filter</button>
                    </form>
                    {% if error %}
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </section>

        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Comment_cant</th>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Tipo</th>
                    <th>Aforo</th>
                    <th>Inscripciones</th>
                    <th>Fecha</th>
                    <th>Visible</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><img style="height: 50px;" src="{{ asset(post.urlImagen) }}" alt="{{ post.titulo }}"></td>
                    <td>{{ post.id }}</td>
                    <td>{{ post.user.username }}</td>
                    <td>{{ post.commentCant }}</td>
                    <td>{{ post.titulo }}</td>
                    <td>{{ post.texto }}</td>
                    <td>{{ post.tipo }}</td>
                    <td>{{ post.aforo }}</td>
                    <td>{{ post.inscripciones|length }}</td>
                    <td>{{ post.fecha ? post.fecha|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ post.visible ? 'Yes' : 'No' }}</td>
                    <td>
                        <a role="button" class="btn btn-danger espacio-pequeño" href="{{ path('post_show', {'id': post.id}) }}">Show</a>
                        <a role="button" class="btn btn-primary espacio-pequeño" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
                        {% if app.user == post.user and post.inscripciones|length == 0 %}
                            {{ include('post/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
