{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Post</h1>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% block ruta %}
                    <div class="jumbotron">
                        <div class="text-danger">
                            Show post - {{ parent() }}
                        </div>
                    </div>
                {% endblock %}
                <div class="col-sm-8">

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">back to list</a>

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
