{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block body %}
    <div class="container">
        <h1>Post Details</h1>
        <section class="blog-page">
            <div class="row">
                {% block ruta %}
                    <div class="jumbotron">
                        <div class="text-danger">
                            Show post - {{ parent() }}
                        </div>
                    </div>
                {% endblock %}
                <div class="col-sm-8">
                    <div class="single-post">
                        <h1 class="venta">{{ post.titulo }}</h1>
                        <div class="blog-img venta">
                            <img src="{{ asset(post.urlImagen) }}" class="img-responsive">
                        </div>
                        <div class="row espacio">
                            <div class="alert alert-danger" role="alert">
                                You must be registered to get inscription and send message to the autor
                            </div>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user == post.user and post.inscripciones|length == 0 %}
                                {{ include('post/_delete_form.html.twig') }}
                            {% endif %}
                            {% if app.user.id == post.user.id %}
                                <a role="button" class="btn btn-primary text-white"
                                   href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                            {% endif %}
                        {% endif %}
                        <div class="blog-meta">
                            <a href="" class="ml-0"><i
                                        class="blue-text fa fa-calendar"></i> {{ post.fecha | date("m/d/Y") }}
                            </a>
                            <a href=""><i class="blue-text fa fa-user"></i>
                                By {{ post.user.username }}</a>
                            <i class="blue-text fa fa-comment"></i> ({{ post.commentCant }})
                            Comments
                            <a href="{{ path('message_new', {'id': post.user.id}) }}"
                               class="btn btn-danger" style="color: white" id="delete"
                               role="button">Sent Message</a>
                            <a href="{{ path('inscripciones_new', {'id': post.id}) }}" style="color: white; "
                               class="btn btn-primary"
                               role="button">Inscribirse</a>
                            <a role="button" style="color: white" class="btn btn-warning text-white"
                               href="{{ path('post_index') }}">back to list</a>
                        </div>
                        <div class="text-justify">
                            {{ post.texto | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}