{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Edit the Post</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                Error 403 - Forbidden
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}