
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="text-danger mb-3">
    {{ form_errors(form.username, {'attr': {'class': 'alert alert alert-danger mb-3'}}) }}
</div>
{{ form_label(form.username) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
<div class="text-danger mb-3">
    {{ form_errors(form.password, {'attr': {'class': 'alert alert alert-danger mb-3'}}) }}
</div>
{{ form_label(form.password) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
<div class="text-danger mb-3">
    Both passwords must be equals
</div>
{{ form_label(form.password2) }}
    {{ form_widget(form.password2, {'attr': {'class': 'form-control'}}) }}
<div class="text-danger mb-3">
    {{ form_errors(form.email, {'attr': {'class': 'alert alert-danger mb-3'}}) }}
</div>
{{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
<div class="text-danger mb-3">
    {{ form_errors(form.avatar, {'attr': {'class': 'alert alert alert-danger mb-3'}}) }}
</div>
{{ form_label(form.avatar) }}
    {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}