{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Post</h1>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% block ruta %}
                    <div class="jumbotron">
                        <div class="text-danger">
                            Show post - {{ parent() }}
                        </div>
                    </div>
                {% endblock %}
                <div class="col-sm-8">

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
