{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>IsActive</th>
            <th>actions</th>
            <th>ChangeRole and Active</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img style="height: 50px;" src="/images/gallery/{{ asset(user.avatar) }}" alt="{{ user.username }}">
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a role="button" class="btn btn-danger" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a role="button" class="btn btn-primary"
                           href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <form class="form-group"
                              action="{{ path('user_editRole', {'id': user.id}) }}"
                              method="post"
                              enctype="multipart/form-data">
                            <label for="tipo">Type of Role:</label>
                            <select name="tipo" class="mr-sm-3">
                                <option value="ROLE_USER" selected>TYPE OF ROLE</option>
                                <option value="ROLE_ADMIN">ROLE ADMIN</option>
                                <option value="ROLE_USER">ROLE USER</option>
                            </select>
                            <label for="active">Type of Role:</label>
                            <select name="active" class="mr-sm-3">
                                <option value="true" selected>Activo</option>
                                <option value="false">No Activo</option>
                            </select>
                            <button class="btn btn-danger" type="submit">Change</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
