{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new User</h1>
    <section class="blog-page">
        <div class="container">
            <div class="row">
                {% block ruta %}
                    <div class="jumbotron">
                        <div class="text-danger">
                            New User - {{ parent() }}
                        </div>
                    </div>
                {% endblock %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>

            </div>
        </div>
    </section>
</div>
{% endblock %}
