{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <h1>User Profile</h1>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    {% block ruta %}
                        <div class="jumbotron">
                            <div class="text-danger">
                                Show post - {{ parent() }}
                            </div>
                        </div>
                    {% endblock %}

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Avatar</th>
                            <td><img style="height: 200px;" src="/images/gallery/{{ asset(user.avatar) }}"
                                     alt="{{ user.username }}"></td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>IsActive</th>
                            <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Cant Eventos</th>
                            <td>{{ user.posts|length }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a role="button" class="btn btn-danger" href="{{ path('user_index') }}">back to list</a>
                        {% if app.user.id == user.id %}
                            <a role="button" class="btn btn-primary"
                               href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        {% endif %}
                        {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
